PTERODACTYL_URL=https://greencloud.biz.id
PTERODACTYL_API_KEY=ptlc_0is7o5H6OS58rWivZRiLo8a291IWxxEjabARhxH7zm3

NODE_ID=1
NEST_ID=5
EGG_ID=15

RAM_MB=2048
DISK_MB=2048
CPU=100

PORT_MIN=7000
PORT_MAX=7777

# Jika lokasi tidak bisa terdeteksi otomatis, isi ID Location di sini.
# LOCATION_ID=1

PORT=3000

# Opsional: nama default server SA-MP jika egg memiliki variable SERVER_NAME
# SAMP_SERVER_NAME=GreenCloud SA-MP
